# -------------------------------------
# updated at: 15/03/2023
# created by: Cristobal Miranda
# -------------------------------------

trigger:
- main

pool:
  vmImage: ubuntu-latest

# - task: Npm@1
#   inputs:
#     command: 'install'
#     verbose: true

# - task: Npm@1
#   inputs:
#     command: 'custom'
#     customCommand: 'run cy:report:comp'

# se debe separar los run de cypress por que se pisan los archivos output
# - task: Npm@1
#   inputs:
#     command: 'custom'
#     customCommand: 'run cy:report:e2e'
steps:

- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '14.x'
  displayName: "Install Node.js"

- script: |
    npm install
    npm run cy:report:e2e
  displayName: "npm install and Run Cypress"

- task: CopyFiles@2
  inputs:
    SourceFolder: "$(Build.SourcesDirectory)"
    Contents: |
      cypress/**/*
    TargetFolder: "$(Build.ArtifactStagingDirectory)"
    cleanTargetFolder: true

- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: "$(Build.ArtifactStagingDirectory)/simple-test.zip"
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: "$(Build.ArtifactStagingDirectory)/simple-test.zip"
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/test-*.xml'
       