# -------------------------------------
# updated at: 15/03/2023
# created by: Cristobal Miranda
# -------------------------------------

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: Npm@1
  inputs:
    command: 'install'
    verbose: true

- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: 'run cy:report:comp'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/test-*.xml'